---
layout: page
title: Sobre
permalink: /sobre/
---

Meu nome é Luciano Brum, sou Engenheiro de Computação formado pela <a href="https://unipampa.edu.br/bage/">Universidade Federal do Pampa - campus Bagé</a> (2011-2015) e Mestre em Computação Aplicada (2017-2019) pelo <a href="http://cursos.unipampa.edu.br/cursos/ppgcap/">Programa de Pós-Graduação em Computação Aplicada</a> pela mesma instituição.
<br><br>
Trabalho com desenvolvimento de software fullstack e mobile nativo, principalmente, mas não exclusivamente, com a linguagem Java. Atuei brevemente com linguagens PHP e Python (Flask). Também atuo em outras frentes conforme a necessidade, como infraestrutura e cloud.
<br><br>
Tenho experiência nos seguintes setores: agricultura/pecuária (ciência de dados e desenvolvimento de aplicativo), transporte público (desenvolvimento de software e aplicativos) e análise de dados públicos do IBGE.
<br><br>
Atualmente, sou empresário individual, atuo fornecendo meus serviços como engenheiro de software especializado em soluções Java e o ecossistema envolvido. Minha principal área de atuação e especialidade é a manutenção e evolução de sistemas legados, mas também atuo na criação de novos produtos.
<br><br>
Está pronto para transformar suas ideias em realidade? Entre em contato e vamos criar juntos soluções inovadoras em Java para o seu negócio!
<br><br>
Email para contato: <a>lucianobrum18@gmail.com</a>
<br><br>
Abaixo, um resumo completo da minha trajetória.

{% include about/timeline.html %}

{% include about/all-skills.html %}

Abaixo, certificados de cursos que tenho realizado para manter-me atualizado com o mercado e as tecnologias do momento, além de diploma e premiações na carreira:

{% include about/all-certificates-container.html %}
