<header class="site-header" role="banner">

    {%- assign ordered_page_paths = "index.html,blog.html,about.html" | split: "," -%}
    {%- assign page_paths = site.header_pages | default: ordered_page_paths -%}

    {%- if page_paths -%}
      <ul class="trigger">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-buttons">
            <a class="cosmos-page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}

</header>
