<div class="navigation-menu">
    <div class="box">
        <img class="profile-pic" src="{{ site.baseurl }}/assets/img/profile.jpg" alt="Foto do autor dos posts, Luciano Brum, sorrindo em uma parada de ônibus">
    </div>

    {%- if site.author -%}
        <a class="author-name" href="mailto:{{ site.email }}">{{ site.author | escape }}</p>
    {%- else -%}
        <p>{{ site.title | escape }}</p>
    {%- endif -%}

    {%- if site.email -%}
        <a class="author-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
    {%- endif -%}  

    <br><br> 

    {%- if site.description -%}     
        <p class="author-description">{{- site.description | escape -}}</p>
    {%- endif -%} 

    <br>

    {%- include social.html -%} 
</div>
