<div>

    <div class="box">
        <img class="profile-pic" src="{{ site.baseurl }}/assets/img/jpg/profile.jpg" alt="Foto do autor dos posts, Luciano Brum, sorrindo em uma parada de ônibus">
    </div>

    {%- if site.author -%}
    <p class="author-name" href="mailto:{{ site.email }}">{{ site.author | escape }}</p> 
    {%- endif -%} 

    {%- if site.email -%}
    <a class="author-email" href="mailto:{{ site.email }}">{{ site.email }}</a> 
    {%- endif -%}

    <p id="author-description" class="author-description"></p>

    {%- include social.html -%}

</div>