<table class="paleBlueRows">
<thead>
    <tr>
        <th>Título</th>
        <th>Periódico / Conferência</th>
        <th>Autores</th>
        <th>Citações</th>
        <th>Ano</th>
    </tr>
</thead>
    <tbody>
        <tr>
            <td>[1] An integrated approach for agricultural ecosystem management</td>
            <td>IEEE Transactions on Systems, Man, and Cybernetics, Part C</td>
            <td>Xu, L.; Liang, N.; Gao, Q.</td>
            <td>114</td>
            <td>2008</td>
        </tr>
        <tr>
            <td>[2] Dimensional issues in agricultural data warehouse designs</td>
            <td>Computers and Eletronics in Agriculture</td>
            <td>Nilakanta, S.; Scheibe, K.; Rai, A.</td>
            <td>60</td>
            <td>2008</td>
        </tr>
        <tr>
            <td>[3] Analysis of mealybug incidence on the cotton crop using ADSS-OLAP (Online Analytical Processing) tool</td>
            <td>Computers and Eletronics in Agriculture</td>
            <td>Abdullah, A.</td>
            <td>29</td>
            <td>2009</td>
        </tr>
        <tr>
            <td>[4] The use of UML to design agricultural data warehouses</td>
            <td>Agricultural Engineering</td>
            <td>Pinet, F. et al.</td>
            <td>27</td>
            <td>2010</td>
        </tr>
        <tr>
            <td>[5] Precise design of environmental data warehouses</td>
            <td>Operational Research</td>
            <td>Pinet, F. & Schneider, M.</td>
            <td>24</td>
            <td>2010</td>
        </tr>
        <tr>
            <td>[6] EIS Pesticides: An environmental information system to characterize agricultural activities and calculate agro-environmental indicators at embedded watershed scales</td>
            <td>Agricultural Systems</td>
            <td>Vernier, F. et al.</td>
            <td>21</td>
            <td>2013</td>
        </tr>
        <tr>
            <td>[7] Multidimensional modeling and analysis of large and complex watercourse data: An OLAP-based solution </td>
            <td>Ecological Informatics </td>
            <td>Boulil, K.; Le Ber, F.; Bimonte, S.; Grac, C.; Cernesson, F. </td>
            <td>20</td>
            <td>2014</td>
        </tr>
        <tr>
            <td>[8] Design and development of data mart for animal resources</td>
            <td>Computers and Eletronics in Agriculture</td>
            <td>Rai, A.; Dubey, V.; Chaturvedi, K. K.; Malhotra, P. K.</td>
            <td>20</td>
            <td>2008</td>
        </tr>
        <tr>
            <td>[9] A data warehouse of muscle characteristics and beef quality in France and a demonstration of potential applications</td>
            <td>Italian Journal of Animal Science</td>
            <td>Chriki, S. et al.</td>
            <td>14</td>
            <td>2013</td>
        </tr>
        <tr>
            <td>[10] Definition and analysis of new agricultural farm energetic indicators using spatial OLAP</td>
            <td>Lecture Notes in Computer Science</td>
            <td>Bimonte, S.; Boulil, K.; Chanet, J.; Pradel, M.</td>
            <td>13</td>
            <td>2012</td>
        </tr>
        <tr>
            <td>[11] A quality-aware spatial data warehouse for querying hydroecological data</td>
            <td>Computers & Geosciences</td>
            <td>Berrahou, L. et al.</td>
            <td>11</td>
            <td>2015</td>
        </tr>
        <tr>
            <td>[12] On-line Analytical Processing in Agriculture using Multidimensional Cubes</td>
            <td>J. of the Indian Society of Agricultural Statistics</td>
            <td>Chaturvedi, K. K.; Rai, A.; Dubey, V.; Malhotra, P. K.  </td>
            <td>11</td>
            <td>2008</td>
        </tr>
        <tr>
            <td>[13] Guaranteeing the quality of multidimensional analysis in data warehouses of simulation results: Application to pesticide transfer data produced by the MACRO model</td>
            <td>Ecological Informatics</td>
            <td>Boulil, K. et al.</td>
            <td>9</td>
            <td>2013</td>
        </tr>
        <tr>
            <td>[14] Spatial OLAP integrity constraints: From UML-based specification to automatic implementation: Application to energetic data in agriculture</td>
            <td>Journal of Decision Systems</td>
            <td>Boulil, K.; Bimonte, S.; Pinet, F.</td>
            <td>9</td>
            <td>2014</td>
        </tr>
        <tr>
            <td>[15] Data integration as the key to building a decision support system for groundwater Management: Case of Saiss aquifers, Morocco</td>
            <td>Groundwater for Sustainable Development</td>
            <td>Laraichi, S.; Hammani, A.; Bouignane, A.</td>
            <td>8</td>
            <td>2016</td>
        </tr>
        <tr>
            <td>[16] Multidimensional Schema for Agricultural Data Warehouse</td>
            <td>Int. J. of Research in Engineering and Technology</td>
            <td>Gupta, A. K. & Mazumdar, B. D.</td>
            <td>7</td>
            <td>2013</td>
        </tr>
        <tr>
            <td>[17] Spatial Online Analytical Processing for Hotspots Distribution Based on Socio-economic Factors in Riau Province Indonesia</td>
            <td>Procedia Environmental Sciences</td>
            <td>Thariqa, P. & Sitanggang, I. S.</td>
            <td>5</td>
            <td>2015</td>
        </tr>
        <tr>
            <td>[18] The data storage and analysis system of the Swiss National Forest Inventory</td>
            <td>Computers and Eletronics in Agriculture</td>
            <td>Traub, B.; Meile, R.; Speich, S.; Rösler, E.</td>
            <td>5</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>[19] Multidimensional analysis model for highly pathogenic avian influenza using data cube and data mining techniques</td>
            <td>Biosystems Engineering</td>
            <td>Xu, Z.; Lee, J.; Park, D.; Chung, Y</td>
            <td>4</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>[20] Integrated modeling of agricultural scenarios (IMAS) to support pesticide action plans: the case of the Coulonge drinking water catchment area (SW France)</td>
            <td>Environmental Science and Pollution Research</td>
            <td>Vernier, F. et al.</td>
            <td>3</td>
            <td>2016</td>
        </tr>
        <tr>
            <td>[21] BovReveals: uma plataforma OLAP e data mining para tomada de decisão na pecuária de corte</td>
            <td>Brazilian Congress of Agroinformatics</td>
            <td>Mota, F. M.; Souza, K.; Ishii, R.; Gomes, R. D. C.</td>
            <td>2</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>[22] A data warehouse to explore multidimensional simulated data from a spatially distributed agro-hydrological model to improve catchment nitrogen management</td>
            <td>Environmental Modelling & Software</td>
            <td>Bouadi, T. et al.</td>
            <td>1</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>[23] A system for the rapid design and implementation of Personalized Agricultural Key Performance Indicators issued from sensor data</td>
            <td>Computers and Eletronics in Agriculture</td>
            <td>Bimonte, S.; Naoufal, E.; Gineste, L.</td>
            <td>1</td>
            <td>2016</td>
        </tr>
        <tr>
            <td>[24] An Online Analytical Processing (OLAP) Database for Agricultural Policy Data: a Greek Case Study</td>
            <td>CEUR Workshop Proc.</td>
            <td>Maliappis, M. & Kremmydas, D.</td>
            <td>1</td>
            <td>2015</td>
        </tr>
        <tr>
            <td>[25] Aplicação de Business Intelligence nos dados de diagnóstico de unidades familiares de produção na Paraíba: um estudo de caso na EMATER-PB</td>
            <td>InterScientia</td>
            <td>Junior, N. M. C. & Farias, T. M. T.</td>
            <td>1</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>[26] Data Cubes Integration in Spatial OLAP for Agricultural Commodities</td>
            <td>Earth and Environmental Science </td>
            <td>Putri, A. I. & Sitanggang, I. S.</td>
            <td>1</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>[27] A new decision-support system for the historical analysis of integrated pest management activities on olive crops based on climatic data</td>
            <td>Computers and Eletronics in Agriculture</td>
            <td>Zazaa, C. et al</td>
            <td>0</td>
            <td>2018</td>
        </tr>
        <tr>
            <td>[28] An Efficient Data Warehouse for Crop Yield Prediction</td>
            <td>Int. Conference on Precision Agriculture</td>
            <td>Ngo, V. M.; Le-Khac, N. A.; Kechadi, M. T.</td>
            <td>0</td>
            <td>2018</td>
        </tr>
        <tr>
            <td>[29] Investigating Factors that Influence Rice Yields of Bangladesh using Data Warehousing, Machine Learning, and Visualization</td>
            <td>Int. J. on Modern Education and Computer Science</td>
            <td>Ahmed, F.; Nandi, D.; Rahman, M.; Hasan, K. T.</td>
            <td>0</td>
            <td>2017</td>
        </tr>        
    </tbody>
</table>