.main-content {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: $article-background-color;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.post-header {
    margin-bottom: $spacing-unit / 8;
}

.post-title {
    @include fluid-typography(50, 60, $max-width-extra-small-devices, 1600);
    letter-spacing: -1px;
    line-height: 1.5;
    color: white;
    text-align: center;
}

.post-content {
    overflow-x: unset;
    margin-bottom: $spacing-unit / 10;
    text-align: justify;
}

.img_content {
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 100%;
}

.post {
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 3%;
}

.post-meta {
    @include fluid-typography(15, 20, $max-width-extra-small-devices, 1600);
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: $min-width-small-devices) {
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $min-width-medium-devices) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $min-width-large-devices) {
    .post {
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 3%;
        padding-top: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: $min-width-extra-large-devices) {
    .without-sidebar .main-content {
        width: calc(119%);
        transform: translateX(-16%);
    }
    #btntheme {
        grid-row: 8/9;
    }
    .main-content {
        grid-column: 2 / 3;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        display: block;
    }
}