/**
 * Reset some basic elements
 */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */

body, html {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: #111;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 0;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

figure.zoom {
  & img:hover {
    opacity: 0;
  }
  img {
    transition: opacity .5s;
    display: block;
    width: 100%;
  }
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;
}

/**
 * Lists
 */

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  padding: 3% 0%;
}

/*
 * Links 
 */

a {
  text-decoration: none;
  color: rgb(165, 170, 243);

  &:hover {
    color: #ff0000;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */

pre, code {
  font-size: $base-font-size;
  color: rgb(68, 148, 36);
  background-color: rgb(0, 0, 0);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 200px;
  box-shadow:
    #000000 4px 4px 8px,
    #4d4d4d -4px -4px 8px;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Tables
 */
 
table {
  width: 100%;
  text-align: $table-text-align;
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: #111816;
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: #505092;
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

form {
  padding: 15px 15px;
}

p {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media only screen and (min-width: 768px) { 
  pre {
    max-height: 600px;  
  }
  body, html {
    font: $base-font-weight #{$base-font-size*1.2}/#{$base-line-height} $base-font-family;
  }
}

@media only screen and (min-width: 992px) {
  body, html {
    font: $base-font-weight #{$base-font-size*2}/#{$base-line-height} $base-font-family;
  }
  pre, code {
    @include relative-font-size(1.4);
  }
}

@media only screen and (min-width: 1200px) {
  body, html {
    font: $base-font-weight #{$base-font-size*1.6}/#{$base-line-height} $base-font-family;
  }
  pre, code {
    @include relative-font-size(1.6);
  }
}

