* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.cosmos-container {
    grid-template-rows: 7% auto 100px;
    grid-template-columns: 100%;
    display: grid;
    height: 100vh;
    width: 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: $min-width-small-devices) {
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $min-width-medium-devices) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $min-width-large-devices) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: $min-width-extra-large-devices) {
    .cosmos-container {
        grid-template-columns: 16% 84%;
        grid-template-rows: 7% 93%;
    }
}