.home {
  position: relative;
  min-height: 100vh;
  background-image: url('../img/post1/gif4.gif');
}

.post-home-title {
  @include fluid-typography(25, 60, 300, 1600);
  padding-top: $spacing-unit;
  padding-bottom: 0;
  text-align: center;
  font-weight: 1000;
  line-height: 1;
  color: $text-color;
  text-shadow: #000e91 0px 0px 24px;
}

.post-home-subtitle {
  @include fluid-typography(18, 35, 300, 1600);
  color: $text-color;
  padding: $spacing-unit;
  display: block;
  text-align: center;
  line-height: normal;
}

// home content //

.post-list {
  margin: $spacing-unit / 2;
  list-style: none;
}

.post-block {
  color: $text-color;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  text-align: justify;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  background-color: $background-color;
  box-shadow: $base-box-shadow;
  font-family: $base-font-family;

  &:hover {
    color: #b1b9fc;
  }
}

.post-link {
  @include fluid-typography(20, 35, 300, 1600);
  color: inherit;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
  &:hover {
    -webkit-animation: rr 15s infinite;
    -moz-animation: rr 15s infinite;
    -ms-animation: rr 15s infinite;
    -o-animation: rr 15s infinite;
    animation: rr 15s infinite;

    @-webkit-keyframes rr {
      0% {
        color: #ffffff;
      }

      5% {
        color: #ff0000;
      }

      10% {
        color: #ff8000;
      }

      20% {
        color: #ffff00;
      }

      30% {
        color: #80ff00;
      }

      40% {
        color: #00ff00;
      }

      50% {
        color: #00ff80;
      }

      60% {
        color: #00ffff;
      }

      70% {
        color: #0080ff;
      }

      80% {
        color: #0000ff;
      }

      90% {
        color: #8000ff;
      }

      100% {
        color: #ff0080;
      }
    }

    @-ms-keyframes rr {
      0% {
        color: #fdfdfd;
      }

      5% {
        color: #ff0000;
      }

      10% {
        color: #ff8000;
      }

      20% {
        color: #ffff00;
      }

      30% {
        color: #80ff00;
      }

      40% {
        color: #00ff00;
      }

      50% {
        color: #00ff80;
      }

      60% {
        color: #00ffff;
      }

      70% {
        color: #0080ff;
      }

      80% {
        color: #0000ff;
      }

      90% {
        color: #8000ff;
      }

      100% {
        color: #ff0080;
      }
    }

    @-o-keyframes rr {
      0% {
        color: #ffffff;
      }

      5% {
        color: #ff0000;
      }

      10% {
        color: #ff8000;
      }

      20% {
        color: #ffff00;
      }

      30% {
        color: #80ff00;
      }

      40% {
        color: #00ff00;
      }

      50% {
        color: #00ff80;
      }

      60% {
        color: #00ffff;
      }

      70% {
        color: #0080ff;
      }

      80% {
        color: #0000ff;
      }

      90% {
        color: #8000ff;
      }

      100% {
        color: #ff0080;
      }
    }

    @-moz-keyframes rr {
      0% {
        color: #ffffff;
      }

      5% {
        color: #ff0000;
      }

      10% {
        color: #ff8000;
      }

      20% {
        color: #ffff00;
      }

      30% {
        color: #80ff00;
      }

      40% {
        color: #00ff00;
      }

      50% {
        color: #00ff80;
      }

      60% {
        color: #00ffff;
      }

      70% {
        color: #0080ff;
      }

      80% {
        color: #0000ff;
      }

      90% {
        color: #8000ff;
      }

      100% {
        color: #ff0080;
      }
    }

    @keyframes rr {
      0% {
        color: #ffffff;
      }

      5% {
        color: #ff0000;
      }

      10% {
        color: #ff8000;
      }

      20% {
        color: #ffff00;
      }

      30% {
        color: #80ff00;
      }

      40% {
        color: #00ff00;
      }

      50% {
        color: #00ff80;
      }

      60% {
        color: #00ffff;
      }

      70% {
        color: #0080ff;
      }

      80% {
        color: #0000ff;
      }

      90% {
        color: #8000ff;
      }

      100% {
        color: #ff0080;
      }
    }
  }

  span,
  h3,
  h6 {
    display: block;
    line-height: normal;
    padding: 0px;
  }

  h3 {
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  span {
    @include fluid-typography(18, 28, 300, 1600);
  }

  :not(:hover) {
    -webkit-animation: all 5s ease-in-out;
    -ms-animation: all 5s ease-in-out;
    -o-animation: all 5s ease-in-out;
    -moz-animation: all 5s ease-in-out;
    animation: all 5s ease-in-out;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: $min-width-small-devices) {
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $min-width-medium-devices) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $min-width-large-devices) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: $min-width-extra-large-devices) {

  .post-home-title {
    @include relative-font-size(3.4);
  }

  .post-home-subtitle {
    @include relative-font-size(2.2);
  }

}