/* Ultra small devices (up to 300px) */
@media only screen and (max-width: 300px) {
  .search-form {
    display: none;
  }
}

/* Extra small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
  // Based on: https://codepen.io/omarsherifs/pen/KGLYYW
  .search-form {
    width: 100%;
  }

  .search-box {
    margin-left: $spacing-unit / 4;
    margin-right: $spacing-unit / 4;
    position: relative;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    background-color: $background-color;
    transition: 0.5s;
    box-shadow:
      0px 0px 0px 0px rgba(54, 54, 54, 0.6),
      0px 0px 0px 0px rgba(56, 56, 56, 0.6),
      0px 0px 0px 0px #0001,
      0px 0px 0px 0px #0001,
      inset -2px -2px 20px 0px rgba(167, 167, 167, 0.6),
      inset -5px -5px 6px 0px rgba(34, 34, 34, 0.6),
      inset 8px 8px 20px 0px #0003,
      inset 5px 5px 6px 0px #0001;

    &:hover {
      background: #ffffff;
    }
  }

  .search-input {
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-left: 5px;
    @include fluid-typography(15, 25, 300, 1600);
    transition: 0.4s;
    line-height: 40px;
    height: 100%;
    width: 70%;
    color: $text-color;

    &:hover {
      color: black;
    }
  }

  input::-webkit-input-placeholder {
    color: $text-color;
  }

  input:hover::-webkit-input-placeholder {
    color: black;
  }

  input::placeholder {
    color: $text-color;
  }

  input:hover::placeholder {
    color: black;
  }

  .search-button {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    //background-image: url(../img/png/search-icon.png);
    background-image: url(../img/png/search-icon.png);
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: center;
    -o-background-size: 80% 100%;
    -webkit-background-size: 80% 100%;
  }

  .search-box:hover>.search-button {
    color: #2f3640;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: $min-width-small-devices) {
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $min-width-medium-devices) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $min-width-large-devices) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: $min-width-extra-large-devices) {
}