@use "sass:math";

// footer content (in laptop turns into navigation menu) ###//
.sidebar {
    display: grid;
    grid-row: 3 / 4;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "header header header header" "col1 col2 col3 col4";
    color: $text-color;
    background: $background-color;
    box-shadow: $base-box-shadow;
    text-align: center;
    z-index: 1;
    padding: 10px 0;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    br {
        display: none;
    }
}

.author-name,
.author-description,
.author-email {
    display: none;
}

.social-media-list {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.social-description {
    @include fluid-typography(15, 20, 300px, $max-width-extra-small-devices);
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-right: calc(#{$spacing-unit} / 3);
    margin-left: calc(#{$spacing-unit} / 3);
    color: $text-color;
    &:hover {
        color: $text-color;
    }
}

#instagram {
    &:hover {
        fill: #f026e6;
    }
}

#github {
    &:hover {
        fill: #0d0d0e;
    }
}

#youtube {
    &:hover {
        fill: #ff0000;
    }
}

#linkedin {
    &:hover {
        fill: #0099ff;
    }
}

/*  Icons  */

.social-svg {
    padding-left: 10px;
}

.social-svg * {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.svg-icon {
    width: 25px;
    height: 20px;
    fill: #8f8f8f;
}

.facebook-hashtag-button {
    border: none;
    overflow: hidden;
    vertical-align: middle;
}

.twitter-share-button {
    vertical-align: middle;
}

.IN-widget {
    vertical-align: middle !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: $min-width-small-devices) {
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $min-width-medium-devices) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $min-width-large-devices) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: $min-width-extra-large-devices) {
    .sidebar {
        grid-template-columns: 100%;
        grid-template-rows: 10% 25% 8% 27% 10% 10% 10%;
        position: fixed;
        width: 15%;
        height: 100%;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        padding: 0.5%;
        br {
            display: inline;
        }
    }
    .social-media-list {
        padding: 0;
        height: 100%;
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }
    .social-description {
        @include fluid-typography(12, 14, $min-width-extra-large-devices, 1600);
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        margin-right: calc(#{$spacing-unit} / 3);
        margin-left: calc(#{$spacing-unit} / 3);
        color: $text-color;
        &:hover {
            color: $text-color;
        }
    }
    .author-name {
        display: block;
        @include fluid-typography(18, 25, $min-width-extra-large-devices, 1600);
        grid-row: 3 / 4;
        color: $text-color;
    }
    .sidebar>.author-description {
        display: block;
        grid-row: 4 / 5;
        text-justify: distribute;
        word-spacing: -2px;
        @include fluid-typography(12, 16, $min-width-extra-large-devices, 1600);
        margin-top: calc(#{$spacing-unit} / 2);
        margin-right: calc(#{$spacing-unit} / 3);
        margin-left: calc(#{$spacing-unit} / 3);
        line-height: normal;
        color: $text-color;
        &:hover {
            color: $text-color;
        }
    }
    .author-email {
        display: grid;
        grid-row: 5 / 6;
        grid-column: 1 / 2;
        padding-right: calc(#{$spacing-unit} / 3);
        padding-left: calc(#{$spacing-unit} / 3);
        @include fluid-typography(12, 14, $min-width-extra-large-devices, 1600);
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition: all 1.5s;
        &:visited {
            color: rgb(53, 167, 167);
        }
        &:hover {
            color: #7e8bff;
        }
    }
    .IN-widget {
        display: inline-block !important;
    }
}