@charset "utf-8";
@use "sass:math";

/* Extra Small devices (up to 600px) */
$max-width-extra-small-devices: 600px !default;
/* Small devices (portrait tablets and large phones, 600px and up) */
$min-width-small-devices: 600px !default;
/* Medium devices (landscape tablets, 768px and up) */
$min-width-medium-devices: 768px !default;
/* Large devices (laptops/desktops, 992px and up) */
$min-width-large-devices: 992px !default;
/* Extra large devices (large laptops and desktops, 1200px and up) */
$min-width-extra-large-devices: 1200px !default;

$base-font-family: 'Open Sans', verdana, arial, sans-serif;
$base-font-size: 16px !default;
$base-font-weight: 300 !default;
$base-letter-spacing: 0.1em;
$base-line-height: 1.7 !default;
$spacing-unit: 2rem !default;
$text-color: rgb(255, 255, 255) !default;

$background-color: #262626 !default;
$article-background-color: #030305;
$brand-color: #2a7ae2 !default;
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$base-box-shadow:
#000000 4px 4px 8px,
#4d4d4d -4px -4px 8px;

$table-text-align: left !default;
$content-width: 1100px !default;
$on-palm: 1100px !default;
$on-laptop: 1100px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import 
"base",
"article-content",
"code",
"container",
"header",
"home",
"images",
"image-container",
"list",
"sidebar",
"syntax-highlighting",
"skills",
"splash",
"table",
"timeline";