  //### container ###//

  .container {
    grid-template-rows: 7% auto 100px;
    grid-template-columns: 1fr;
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 7% auto 100px;
    height: 100vh;
    width: 100%;
    overflow-x:hidden;
  }

  //### header ###//

  .site-header {
    border: 0.5px solid #ffd6d6;
    background: #704848;
    grid-column: 1;
    grid-row: 1 / 2;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 2;
  }

  .openbtn {
    display: none;
  }

  .site-nav {
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    height: 80%;
    left: 0%;
    top: 10%;
    background-color: inherit;
    border: none;
    border-radius: 0px;
    text-align: center;
    font-weight: 600;
  }
  
  .trigger{
    position: absolute;
    left: 10%;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }
  
  input:checked ~ .trigger {
    display: block;
    //padding-bottom: 5px;
  }

  .nav-buttons{
    position: relative;
    list-style: none;
    vertical-align: middle;
    padding: 0px 5%;
  }

  .page-link {
    position: relative;
    font-size: 1.5vw;
    border-radius: 0px;
    border: none;
    color: #ffd6d6;
    display: block;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
    &:not(:last-child) {
      margin-right: 60px;
    }
    &:hover {
      color: #7e8bff;
      background-color: inherit;
    }
  }

//### footer (in laptop turns into navigation menu) ###//

  .navigation-menu {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-row: 3 / 4;
    grid-template-rows: 1fr;
    color: #ffd6d6;
    border: 0.5px solid #ffd6d6;
    border-top: none;
    background: #704848;
    text-align: center;
    z-index: 1;
    padding: 10px 0;
    align-items: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    br{
      display: none;
    }
  }

  .author-name {
    grid-column: 1 / 2;
    color: #ffd6d6;
  }

  .author-description, .author-email, .profile-pic, .box {
    display: none;
  }

  .contact-list,
  .social-media-list {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .social-description {
    @include relative-font-size(0.8);
    grid-column: 2 / 3;
    margin-right: $spacing-unit / 3;
    margin-left: $spacing-unit / 3;
    color: #ffd6d6;
  }

  #instagram {
    &:hover {
      fill: #f026e6;
    }
  }

  #github {
    &:hover {
      fill: #0d0d0e;
    }
  }

  #youtube {
    &:hover {
      fill: #ff0000;
    }
  }

  #linkedin {
    &:hover {
      fill: #0099ff;
    }
  }

/* ### Icons ### */
  .social-svg{
    padding-left: 10px;
  }

  .svg-icon {
    width: 25px;
    height: 15px;
    fill: #8f8f8f;
  }

  .facebook-hashtag-button{
    border: none;
    overflow: hidden;
    vertical-align: middle;
  }

  .twitter-share-button{
    vertical-align: middle;
  }

  .IN-widget{
    vertical-align: middle !important;
  }


//### main content ###//

  .main-content {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .home {
    background-color: #381C29;
    height: 100%;
  }

  .home .post {
    padding-bottom: 0;//$spacing-unit * 4;
    padding-top: 0;//$spacing-unit;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .post {
    margin-left: 40px;
    margin-right: 40px;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    padding-bottom: $spacing-unit;
    padding-top: $spacing-unit;
  }

  .post-home-title {
    @include relative-font-size(1.5);
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit / 2;
    text-align: center;
    font-weight: 1000;
    line-height: 1;
    color: #ffd6d6;
  }
  
  .post-home-subtitle {
    @include relative-font-size(0.8);
    color: #ffd6d6;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    display: block;
    text-align: center;
    line-height: normal;
  }

// Source from code below: https://codepen.io/omarsherifs/pen/KGLYYW (searchBox)

  .searchBox {
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
    position: relative;
    left: 0%;
    background: #704848;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    transition: 0.5s;
    
    &:hover {
      background: #ffffff;
    }
  }

  .searchInput {
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-left: 5px;
    font-size: 20px;
    transition: 0.4s;
    line-height: 40px;
    height: 100%;
    width: 85%;
    color: #ffd6d6;
    &:hover{
      color: black;
    }
  }

  input::-webkit-input-placeholder { 
    color: #ffd6d6;
  }

  input:hover::-webkit-input-placeholder {
    color: black;
  }

  input::-ms-input-placeholder { 
    color: #ffd6d6;
  }

  input:hover::-ms-input-placeholder {
    color: black;
  }

  input::placeholder {
    color: #ffd6d6;
  }

  input:hover::placeholder {
    color: black;
  }

  .searchButton {
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }

  .searchBox:hover > .searchButton {
    background: white;
    color : #2f3640;
  }

// End of searchBox Code //

  .post-list {
    list-style: none;
  }

  .post-li {
    border-top: 0.5px solid #ffd6d6;
    background-color: #381C29;
    border-width: 1px;
    color: #ffd6d6;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
    &:hover {
      color: #7e8bff;
    }
    &:last-child {
      border-bottom: 0.5px solid #ffd6d6;
    }
  }

  .post-meta {
    font-size: $small-font-size;
  }

  .post-link {
    @include relative-font-size(1);
    text-decoration: none;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
    color: #ffd6d6;
    &:hover {
      color: #5371e1;
    }
    span, h3, h6 {
      display: block;
      line-height: normal;
    }
    h3 {
      font-weight: 600;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    span {
      @include relative-font-size(1);
    }
  }

/* ### Posts ### */
  
  .post-header {
    margin-bottom: $spacing-unit;
  }

  .post-title {
    @include relative-font-size(1.85);
    letter-spacing: -1px;
    line-height: 1.5;
    color: black;
    @include media-query($on-laptop) {
      @include relative-font-size(1.85);
    }
  }

  .post-content {
    margin-bottom: $spacing-unit;
    h2 {
      color: black;
    }
    h3 {
      color: black;
    }
    h4 {
      color: #9a9a9a;
    }
  }

  //Source: https://fonts.googleapis.com/icon?family=Material+Icons

  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

/*
  @font-face {
    font-family: 'Snell Roundhand';
    font-style: normal;
    font-weight: 400;
    src: local('Snell Roundhand'), url('SnellRoundhand.woff') format('woff');
  }
*/
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

// Source: https://codepen.io/markmurray/pen/raVPmp

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300|Raleway+Dots|Lato:300|Inconsolata|Montserrat);

$title: #000000;
$header: #5371e1;
$detail: #6e6e6e;
$highlight: #5371e1;
$text: #ffffff;

.skills {
  max-width: 100%;
  margin: 40px auto;
  text-align: center;
  
  .hr-text {
    font-size: 20px;
    position: relative;
    border: 0;
    height: 1.5em;
    
    &:before {
      content: '';
      background: linear-gradient(to right, transparent, $detail, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
      padding: 0 .5em;
      line-height: 1.5em;
      color: $title;
      background-color: white;
    }
  }
  
  li {
    display: inline-block;
    font-size: 14px;
  }

  i {
    font-size: 7px;
  }
}

.imgbox {
  width: 100%;
  position: relative;
 } 

.img_content {
  position: relative;
  transform: translate(-50%,0%);
  top: 0%;
  left: 50%;
}

// tables //

table.paleBlueRows {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  color: black;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
  position: relative;
}

table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid rgb(0, 0, 0);
  padding: 3px 2px;
}

table.paleBlueRows tbody td {
  font-size: 14px;
}

table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}

table.paleBlueRows thead {
  background: #0B6FA4;
  border-bottom: 3px solid rgb(0, 0, 0);
}

table.paleBlueRows thead th {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid rgb(0, 0, 0);
}

table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}

table.paleBlueRows tfoot td {
  font-size: 14px;
}

@media only screen and (max-width: 500px) {
.searchInput {
    font-size: 15px;
    width: 60%;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    -ms-grid-columns: 16% 1fr;
    -ms-grid-rows: 7% 1fr;
    grid-template-columns: 16% 1fr;
    grid-template-rows: 7% 1fr;
  }

  .site-header {
    border: 0.5px solid #ffd6d6;
    position: fixed;
    width: 100%;
    height: 7%;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    z-index: 2;
  }

  .openbtn {
    display: inline-block;
    position: absolute;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    box-shadow: inset 0 0 1em #ffd6d6;
    color: white;
    padding: 10px 15px;
    border: none;
    left: 5%;
    top: 2%;
    width: 5%;
    height: 88%;
  }

  .openbtn:hover {
    background-color: #444;
  }

  .trigger{
    left: 20%;
  }

  .navigation-menu {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 20% 40px 40px 15% 40px 40px 1fr;
    position: fixed;
    width: 16%;
    height: 100%;
    left: 0%;
    top: 7.05%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    br{
      display: inline;
    }
  }

  @-moz-document url-prefix() { 
    .navigation-menu { top: 7.2%;}
  } 

  .animate .main-content{
    width: calc(104% + 16%);
    transform: translateX(-16%);
  }
  
  .animate .navigation-menu{
    -webkit-transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -ms-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
    transform:translateX(-100%);
  }  

  .box{
    margin: auto;
    display: inline;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    max-width: 60%;
    height: 100%;
    overflow: hidden;
    align-self: center;
    align-items: center;
  }

  .box .profile-pic {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    display: inline;
    max-width: 100%;
    max-height: 100%;
    &:hover{
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
    }
  }

  .contact-list,
  .social-media-list {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }

  .social-description {
    @include relative-font-size(0.8);
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    margin-right: $spacing-unit / 3;
    margin-left: $spacing-unit / 3;
    color: #ffd6d6;
  }

  .author-name {
    grid-row: 3 / 4;
    color: #ffd6d6;
  }

  .navigation-menu > .author-description{
    display: block;
    grid-row: 5 / 6;
    text-align: justify;
    @include relative-font-size(0.8);
    margin-right: $spacing-unit / 2;
    margin-left: $spacing-unit / 2;
    line-height: normal;
    color: #ffd6d6;
    &:hover {
      color: #ffd6d6;
    } 
  }

#btntheme{
  grid-row: 8/9;
}

  .main-content {
    grid-column: 2 / 3;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: -1px -1px 0px 1px #7c7c7c inset;
  }

  .post-home-title {
    @include relative-font-size(2);
  }
  
  .post-home-subtitle {
    @include relative-font-size(1.2);
  }

  .post-link {
    @include relative-font-size(1.5);
  }

  table.paleBlueRows tbody td {
    font-size: 18px;
  }

  table.paleBlueRows thead th {
    font-size: 20px;
  }

  table.paleBlueRows tfoot {
    font-size: 14px;
  }

  table.paleBlueRows tfoot td {
    font-size: 14px;
  }

  .author-email{
    display: grid;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    padding-right: $spacing-unit / 3;
    padding-left: $spacing-unit / 3;
    @include relative-font-size(0.68);
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
    color: #7e8bff;
    &:visited {
      color: rgb(53, 167, 167);
    }
    &:hover {
      color: #ffd6d6;
    } 
  }
}