<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt" }}">
  {%- include head.html -%}
  <body>
  
    <script type='text/javascript' src='{{site.baseurl}}/js/splash.js'></script>
    
    {%- include splash.html -%}
    
    <div class="container">

      {%- include header.html -%}

      {%- include left-col.html -%}

      <div data-router-wrapper class="main-content">
        {{ content }}  
      </div>
      
    </div>
    
    <script type='text/javascript' src='{{site.baseurl}}/js/jquery-3.4.1.js'></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/sidebar.js'></script>
    <script data-no-reload type='text/javascript' src='/assets/js/main.js'></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/zoom.js'></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/disqus.js'></script>
  </body>
</html>
