<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt" }}">
{%- include head.html -%}

<body>

  {%- include splash.html -%}

  <div class="cosmos-container">

    {%- include header.html -%}

    <div data-router-wrapper class="main-content">
      {{ content }}
    </div>

  </div>

  <!-- Typewritter effect -->
  <script async src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

  <!-- Wow js - animation library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
    new WOW({
      animateClass: 'animate__animated'
    }).init();
  </script>

  <!-- Sidebar scripts -->
  <script async type='text/javascript' src='{{site.baseurl}}/assets/js/sidebar.js'></script>

  <script async data-no-reload type='text/javascript' src='/assets/js/main.js'></script>
</body>

</html>