---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <form action="{{site.baseurl}}/search.html" method="get">
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
        <div class="searchBox">
            <input class="searchInput" type="text" id="search-box" name="query" placeholder="Busca por Posts">
                <button class="searchButton">
                    <i class="material-icons">search</i>
                </button>
        </div>
    </form>
    <br /><br />
    
    <ul class="post-list">
      {%- for post in site.posts -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                {{ post.title | escape }}
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        </a>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">Inscreva-se <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>